<div class="card">
  <div class="card customer-card">
    <% if customer.image.attached? %>
      <div class="card-image">
        <figure class="image is-256x256">
          <%= image_tag url_for(customer.image), alt: "Customer Image" %>
        </figure>
      </div>
    <% end %>
    <div class="card-content">
      <div class="content">
        <p class="title">
          <%= customer.full_name %>
        </p>
        <p>Phone: <%= customer.phone_number %></p>
        <p>Email: <%= customer.email %></p>
        <p>Notes: <%= customer.notes %></p>
      </div>
    </div>
  </div>
</div>
